<?xml version="1.0"?>
<config>
  <modules>
    <Smilla_Fashioncheque>
      <version>1.0.0</version>
    </Smilla_Fashioncheque>
  </modules>
  <global>
    <models>
      <fashioncheque>
        <class>Smilla_Fashioncheque_Model</class>
      </fashioncheque>
    </models>
    <helpers>
      <fashioncheque>
        <class>Smilla_Fashioncheque_Helper</class>
      </fashioncheque>
    </helpers>
    <blocks>
      <fashioncheque>
        <class>Smilla_Fashioncheque_Block</class>
      </fashioncheque>
    </blocks>
    <resources>
      <fashioncheque_setup>
        <setup>
          <module>Smilla_Fashioncheque</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </fashioncheque_setup>
      <fashioncheque_write>
        <connection>
          <use>core_write</use>
        </connection>
      </fashioncheque_write>
      <fashioncheque_read>
        <connection>
          <use>core_read</use>
        </connection>
      </fashioncheque_read>
    </resources>
    <fieldsets>
      <sales_convert_quote_payment>
        <card_no>
          <to_order_payment>*</to_order_payment>
        </card_no>
        <verificationcode>
          <to_order_payment>*</to_order_payment>
        </verificationcode>
      </sales_convert_quote_payment>
    </fieldsets>

  </global>

  <default>
    <payment>
      <fashioncheque>
        <model>fashioncheque/standard</model>
        <active>0</active>
        <test_mode>1</test_mode>
        <payment_action>authorize_capture</payment_action>
        <order_status>pending</order_status>
        <title>fashioncheque</title>
        <allowspecific>0</allowspecific>
        <sort_order>10</sort_order>
      </fashioncheque>
    </payment>
  </default>
  <frontend>
    <translate>
        <modules>
            <Smilla_Fashioncheque>
                <files>
                    <default>Smilla_Fashioncheque.csv</default>
                </files>
            </Smilla_Fashioncheque>
        </modules>
    </translate>
    <routers>
      <fashioncheque>
        <use>standard</use>
        <args>
          <module>Smilla_Fashioncheque</module>
          <frontName>fashioncheque</frontName>
        </args>
      </fashioncheque>
    </routers>
  </frontend>
<adminhtml>
    <translate>
        <modules>
            <Smilla_Fashioncheque>
                <files>
                    <default>Smilla_Fashioncheque.csv</default>
                </files>
            </Smilla_Fashioncheque>
        </modules>
    </translate>
 </adminhtml>
</config>